<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Crud NodeJs MySql</title>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/custom.min.css" />
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/bootbox.min.js"></script>
    </head>
    <body>
      <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <a href="../" class="navbar-brand">Products</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Product <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                      <li><a href="/createProduct">Create Product</a></li>
                      <li class="divider"></li>
                      <li><a href="/viewProduct">View Product</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="../help/">Help</a>
                  </li>
                  <li>
                    <a href="http://news.bootswatch.com">Blog</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Product Category <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                      <li><a href="/createProductCategory">Create Category</a></li>
                      <li class="divider"></li>
                      <li><a href="/viewProductCategory">view Category</a></li>
                    </ul>
                  </li>
                </ul>

                <!--<ul class="nav navbar-nav navbar-right">
                  <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
                  <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
                </ul>-->

              </div>
            </div>
          </div>

          <div class="container">
          </div>

    </body>
</html>
