<div class="alert alert-danger" data-ng-show="validationResult.containsValidationError">
    <h2>Please fix the erros before submitting</h2>
    <div class="">
        <ul id="validationErrorMessage" style="font-family: verdana;">

        </ul>
    </div>
</div>
